<mat-card>
<div *ngIf="funcionario" style="text-align: center;">
    <h1 mat-dialog-title>Deseja confirmar a exclução?</h1>
    <div mat-dialog-content>
      <h2 style="font: bold;">Funcionário:</h2>
      <p>{{funcionario.nome}} {{funcionario.sobrenome}}</p>
    
      <h2 style="font-style: bold;">Departamento:</h2>
      <p>{{funcionario.departamento}}</p>
    
    </div>
    <div mat-dialog-actions>
      <button mat-button  mat-raised-button color="warn" (click)="excluir()">Confirmar</button>
      <button mat-button  mat-raised-button (click)="voltar()">Cancelar</button>
    </div>
    </div>
  </mat-card>